.tmp/
.cache/
.git/
build/
node_modules/
node_modules
*backend/node_modules*
.gitignore
.next/
./frontend/.next/
.dockerignore
Dockerfile
docker-compose.yml
nginx/
node-modules
node-modules/
*/node_modules
./strapi/node_modules