@tailwind base;
@tailwind components;
@tailwind utilities;

/* the slides */
.slick-slide {
  margin: 0 0px;
}

/* the parent */
.slick-list {
  margin: 0 0px;
}

.slick-vertical .slick-slide {
  border: none !important;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes drop {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
